<h1>Welcome!</h1>
<div class="container">
    welcome {{name}} to Student Management System! You can manage your users <a routerLink="/users">here</a>
</div>

<!-- <div class="container">
    Click here !
    <button (click)="getWelcomeMessage()" class="btn btn-success"> 
        Welcome Message</button> 
</div> -->

<!-- 
<div class="container" >
   <h2> Employee details !</h2>
   <table border="1">
    <thead></thead>
    <tr>
      <th>name</th>
      <th>designation</th>
      </tr>
    
    <tbody>
        <tr *ngFor="let employee of emplyeeDetails">
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            </tr>
    </tbody>
      </table>
</div> -->